---
import "@fontsource-variable/inter";
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";

interface Props {
	title: string;
	description: string;
}
const { title, description } = Astro.props as Props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/icon.png" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>Cyam S.R.L. | {title}</title>
	</head>
	<body>
		<ClientRouter />
		<slot />
	</body>
</html>

<style is:global>
	body {
		font-family: "Inter Variable", sans-serif;
	}
</style>
<script type="module" client:load>
	import { initSmoothScroll } from "../src/scripts/smooth-scroll";
	import { animateHeroSection } from "../src/scripts/animations";

	initSmoothScroll();
	animateHeroSection();
	document.addEventListener("astro:load", () => {
		animateAboutUsSection();
	});
</script>